@model UserLoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
    <html lang="tr">
    <head>
        <title>Giriş Yap</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
</head>
    <body>
    <div class="container">
        <form class="w-75 m-5 p-3 shadow mx-auto" asp-action="Login" asp-controller="Account" method="post">
            <div class="mb-3">
                <label for="@Model.UserName" class="form-label">
                    Kullanıcı Adı:
                </label>
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                <input type="text" asp-for="@Model.UserName" class="form-control"/>
            </div>

            <div class="mb-3">
                <label for="@Model.UserName" class="form-label">
                    Şifre:
                </label>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                <input type="password" asp-for="@Model.Password" class="form-control" />
            </div>
            <div class="mb-3">
                <button class="btn btn-primary w-100">Giriş Yap</button>

                <div asp-validation-summary="ModelOnly" class="tex-danger"></div>
            </div>
        </form>

    </div>
    <style src="~/bootstrap/js/bootstrap.bundle.min.js"></style>

</body>
    </html>
